html
  head
    title login
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script.
      $(document).ready(()=>{
          $('#close-alert').click(()=>{
            console.log('this is working')
            $('.alert-div').fadeOut()
          })
      })
      
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
  body
    .container.mt-5
      .jumbotron
        h1.display-4 Welcome to Fast Chat
        p.lead
          | Chat with no interuptions with your loved ones right here
        hr.my-4
        p
          | We strive to connect everyone in the world no matter how far they are
          | right now.
      .container.mt-5
        if displayMessage
          div.alert-div.alert.alert-danger(role='alert' ) #{message} 
            button#close-alert.close 
              img(src='x-lg.svg')
        h3.text-center.text-primary Login or 
          span.text-dark Sign Up
        form(action='http://localhost:3000/submitlogin', method='POST')
          .form-group.mt-5
            label(for='username') Username
            input.form-control(type='name', name='username', placeholder='Enter username')
            small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
          .form-group
            label(for='password') Password
            input.form-control(type='password', name='password', placeholder='Password')
          div
            button.btn.btn-primary(type='submit') Submit